
/.idea
/saves
/screenshots
usernamecache.json
usercache.json
options.txt
/logs
ears-debug.log
/crash-reports
/xaero
/Distant_Horizons_server_data
servers.dat
servers.dat_old
/exposures
/rei_exports
/map exports
